.container{
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
    border-bottom: rgb(190, 187, 187) solid 1px;
}

.title{
    margin: 0 auto;
    padding: 1rem;
}

form{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.group{
    /* outline: green solid 2px; */
    color: rgb(132, 131, 131);
    font-weight: 700;
    margin: 1rem 1rem;
}

.input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 7px;
    border: black solid 1px;
    margin-top: 5px;
}

.person_title{
    grid-row: 1;
    grid-column: 1/3;
}

.name{
    grid-row: 1;
    grid-column: 3/7;
}

.phone{
    grid-row: 2;
    grid-column: 1/4;
}

.email{
    grid-row: 2;
    grid-column: 4/7;
}

.country{
    grid-row: 3;
    grid-column: 1/3;
}

.location{
    grid-row: 3;
    grid-column: 3/7;
}